body{
	background-color: #c73b3e;
	font-family: Tahoma, Geneva, sans-serif;
}

.container{
	width:85%;
	margin:auto;
}

.box-1{
	background-color:#353839;
	color: #fff5ee;
	text-align:center;
	padding: 10px;
	border:10px double seashell;
	margin-top:10px;
}

.box-1 h3 {
	color: #fff5ee;
}

.box-2 h3{
	color:#fff5ee;
	text-transform: uppercase;
}

.box-2 img {
	float:left;
	padding: 10px;
}

.box-3 h3 {
	color:#fff5ee;
	text-transform:uppercase;
}

.box-5 ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.box-5 li {
	float:right;
}

.box-5 li a {
	display:block;
	color:#000000;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

.box-5 li a:hover {
	background-color:#fff5ee;
}

.box-3 table {
	width:100%;
}

.box-3 th {
	text-align:center;
}

.box-3 table, th, td{
	border:1px solid #353839;
	border-collapse:collapse;
	height:50px;
}

.box-3 th, td {
	border:1px solid #353839;
	border-collapse:collapse;
	text-align:center;
	color:#fff5ee;
	background-color:#c73b3e;
}

.box-3 th {
	color:#353839;
}

.box-3 td {
	border:1px solid #353839;
}

.box-3 td a{
	color:#fff5ee;
}

* {
	box-sizing:border-box;
}

.row {
	display:flex;
	margin-left:-5px;
	margin-right:-5px;
}

.column {
	flex:50%;
	padding:5px;
}

caption {
	color:#fff5ee;
}

.box-4{
	box-sizing:content-box;
	width:400px;
	height:50px;
	float:center;
	background-color:#c73b3e;
	color:#fff5ee;
	text-align:center;
	border:5px dotted #353839;
	margin:auto;
	margin-top:10px;
	padding-bottom:10px;
}

.box-4 img{
	float:center;
}

ol {
	color:#fff5ee;
	display:inline-block;
	text-align:left;
}

div.parent {
	text-align:center;
}

div.parent img {
	float:left;
}

.box-6 ul {
	color: #fff5ee;
	display:inline-block;
	text-align:left;
}

.box-7 table{
	width:50%;
	margin:auto;
}

.box-7 th {
	text-align:center;
}

.box-7 table, th, td{
	border:none
	height:50px;
}

.box-7 th, td {
	border:none;
	border-collapse:collapse;
	text-align:center;
	color:#fff5ee;
	background-color:#c73b3e;
}

.box-7 th {
	color:#fff5ee;
}

.box-7 td a{
	color:#fff5ee;
}

.box-7 th a{
	color:#fff5ee;
}

.box-7 td{
	padding:10px;
}
	
ul.breadcrumb{
	padding:8px 16px;
	list-style:none;
}

ul.breadcrumb li{
	display:inline;
	font-size:12px;
}

ul.breadcrumb li+li:before{
	padding:8px;
	color:#353839;
	content:">>";
}

ul.breadcrumb li a{
	color:#fff5ee;
	text-decoration:none;
}

ul.breadcrumb li a:hover{
	color:#01447e;
	text-decoration:underline;
}

